{% extends "layout.html" %}

{% block content %}
<center>
    <p class="text">Food Detection</p>
    <p>Upload an image to estimate calories
    <div class="upload-form">
      <form action = "/uploader" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit" value="submit" />
      </form>
    </div>
</center> 
<!-- <p>By Omkar and Akshay</p>   -->
{% endblock %}
