{% extends "layout.html" %}

{% block content %}
<p class="text-left">{{ fname }} successfully uploaded.</p>
<div class="row">
    <div class="col-md-5">
        <div class="image-container">
            <p class="text-center"><b>Original Image</b></p>     
            <a href="/static/uploads/{{ fname }}" target="_new"><img src="/static/uploads/{{ fname }}" class="upload-image-thumb"></a>
        </div>
        <div class="upload-form">
            <p class="text-left">Upload another?</p>
            <form action = "/uploader" method = "POST" 
                              enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit" value="submit" />
            </form>
        </div>      
    </div>
 </div>
</br>

<div class="row">
    <div class="col-md-5"> 
    <div class="image-container">
        <p class="text-center"><b>Detected Image</b></p>
        <a href="/static/detections/{{display_detection}}" target="_new"><img src="/static/detections/{{display_detection}}" class="upload-image-thumb"></a>
        <h3>{{calories}}</h3>> 
    </div>
</div>

 </div>
{% endblock %} 

